html {
    font-size: 50px;
}

#mobileTop {
    background: #f6f6f6;

    flex: 1;
}

#mobileTop section {
    border-bottom: 1px solid #2db7f5;
    padding-left: 10px;
}

#mobileTop section img {
    height: 50px;
}

#mobileTop section span {
    padding-left: 5px;

    font-size: 35px;
    vertical-align: top;

    color: #2db7f5;
}

#mobileTop i {
    float: right;

    margin-top: .3rem;
    margin-right: .3rem;

    font-size: .5rem;

    color: #2db7f5;
}


#mobileheader ul li {
    font-size: 30px;
}

#mobileheader .slick-list img {
    width: 100%;
    height: 220px;
}

#mobileDetailsContainer .title,
.article-title .title {
    font-size: .44rem !important;
    line-height: 1.4em;
}

#mobileDetailsContainer .article-src-time {
    font-size: .3rem !important;
}

#mobileDetailsContainer .article-content .txt {
    font-size: .36rem;
}
#mobileDetailsContainer .ant-row {
    margin-top: 20px;
}

.mobileCarousel img {
    width: 100%;
}

.ucmobileList {
    margin-top: 60px;
}


.topbar {
    display: block;

    position: fixed;
    top: 0;
    z-index: 10000;

    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 0 0 0 10px;
    width: 7.5rem;
    max-width: 1080px;
    height: .98rem;

    font-size: .32rem;
    font-size: 0;
    line-height: .98rem;
    text-align: left !important;

    background: #2db7f5;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.topbar,
.topbar a {
    color: #fff;
}
.topbar img {
    width: 50px;
}
.topbar span {
    display: inline-block;

    padding-left: 10px;
    width: 80px;
    height: 50px;

    font-size: .5rem;
    vertical-align: top;
}

section {
    background: #f6f6f6;
}
.m_separate {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: .2rem .3rem;

    background: #f6f6f6;
}
.m_article {
    margin: 0 .3rem;
    border-bottom: 1px solid #e5e5e5;
    padding: .2rem 0;

    font-size: 14px;
}
.m_article .m_article_img {
    float: left;
    overflow: hidden;

    position: relative;

    margin-right: .2rem;
    width: 27%;
    height: 1.4rem;
}
.m_article .m_article_img .m_article_mark {
    display: inline-block;

    position: absolute;
    top: 0;
    left: 0;

    padding: .04rem;
    height: .4rem;

    font-size: .28rem;
    line-height: .4rem;
    text-align: center;

    color: #fff;
    background: #5da3e9;

    opacity: .9;
}
.m_article .m_article_img img {
    display: block;

    width: 100%;
    min-height: 1.4rem;
}
.m_article .m_article_desc .m_article_channel {
    display: inline-block;

    margin-right: .1rem;
    padding: 2px;

    font-size: 12px;
    line-height: 12px;

    color: rgba(255,51,51,.9);
    background: url(http://img2.cache.netease.com/f2e/wap/common/images/border_red.png) no-repeat;
    background-size: 100% 100%;
}
.m_article .m_article_desc .m_article_time {
    display: inline-block;

    font-size: .24rem;

    color: #888;
}
.m_article .m_article_desc .m_article_desc_l {
    float: left;
}
.m_article .m_article_desc .m_article_desc_r {
    float: right;

    line-height: .37rem;

    color: #888;
    background-repeat: no-repeat;
    background-position: left 0;
    background-size: contain;
}
.m_article .m_article_desc .m_article_desc_r .iconfont {
    display: inline-block;

    padding: 0 .1rem 0 0;

    font-size: .28rem;

    color: #a8a8a8;
}
.m_article .m_article_info {
    overflow: hidden;

    padding-bottom: 4px;
}
.m_article .m_article_info .m_article_title {
    display: -webkit-box;
    overflow: hidden;

    -webkit-box-orient: vertical;

    margin-bottom: .2rem;
    width: 100%;

    font-size: .34rem;
    line-height: .42rem;
    text-align: left;

    color: #404040;

    -webkit-line-break: auto;
    -webkit-line-clamp: 2;
}
.m_article .m_article_hot {
    float: left;

    margin-top: .17rem;
    width: 100%;
    height: .42rem;
}
.m_article .m_article_hot .m_article_hot_icon {
    float: left;

    position: relative;

    border-radius: .5rem;
    padding: .05rem;
    width: 1.11rem;
    height: .3rem;

    line-height: .3rem;
    text-align: center;

    color: #fff;
    background: #4c9aea;
}
.m_article .m_article_hot .m_article_hot_icon:after {
    display: block;

    position: absolute;
    right: -.04rem;
    bottom: -.05rem;

    border-top: 10px solid #4c9aea;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    width: 0;
    height: 0;

    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);

    content: "";
}
.m_article .m_article_hot .m_article_hot_content {
    float: left;

    margin-left: .15rem;
}
.m_article .m_article_hot .m_article_hot_content a {
    display: inline-block;
    overflow: hidden;

    width: 5.5rem;

    font-size: .28rem;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: #4c9aea;
}
.m_article_m0 {
    min-height: 1.4rem;
}
.m_article_m1 {
    min-height: 1.4rem;
}
.m_article_m1 .m_article_title {
    display: none;
}
.m_article_m1 .m_article_img {
    margin: 0;
    width: 100%;
}
.m_photoset .m_photoset_title {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display:         flex;

    margin-bottom: .2rem;

    font-size: .34rem;

    color: #404040;
}
.m_photoset .m_photoset_pic {
    display: block;

    margin: .22rem 0;
}
.m_photoset .m_photoset_pic .m_photoset_pic_wrap {
    overflow: hidden;

    height: 1.65rem;
}
.m_photoset .m_photoset_pic .m_photoset_pic_wrap img {
    display: inline-block;
    float: left;

    margin-right: 2%;
    width: 32%;
    min-height: 1.4rem;
}
.m_photoset .m_photoset_pic .m_photoset_pic_wrap img:last-child {
    margin-right: 0;
}
.m_photoset_square {
    float: left;

    margin: .2rem 0 0 0;
    border: 0;
    padding: 0;
    width: 3.35rem;

    background: #fff;

    box-shadow: 0 1px 1px #e3e3e3;
}
.m_photoset_square .m_photoset_square_img {
    float: left;
    overflow: hidden;

    position: relative;

    width: 100%;
    height: auto;

    -webkit-animation: imgload2 1s ease-out;
            animation: imgload2 1s ease-out;
    -webkit-animation-name: imgload2;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
}
.m_photoset_square .m_photoset_square_img img {
    display: block;

    width: 100%;
    min-height: 2rem;
}
.m_photoset_square.papa_item .m_photoset_square_info .m_photoset_square_title span {
    display: inline;
}
.m_photoset_square.papa_item .m_photoset_square_info .m_photoset_square_title .m_photoset_square_adflag {
    display: inline-block;

    margin-right: .1rem;
    padding: 2px;

    font-size: 12px;
    line-height: 12px;

    color: #efd469;
    background: url(http://img2.cache.netease.com/f2e/wap/common/images/border_yellow.png) no-repeat;
    background-size: 100% 100%;
}
.m_photoset_square .m_photoset_square_info {
    float: left;

    box-sizing: border-box;
    padding: .15rem;
    width: 100%;
}
.m_photoset_square .m_photoset_square_info .m_photoset_square_title {
    margin-bottom: .15rem;
    width: 100%;

    color: #555;
}
.m_photoset_square .m_photoset_square_info .m_photoset_square_title span {
    display: block;

    font-size: .28rem;
    line-height: .42rem;
}
.m_photoset_square .m_photoset_square_info .m_photoset_square_desc {
    width: 100%;
}
.m_photoset_square .m_photoset_square_info .m_photoset_square_desc .m_photoset_square_desc_l {
    float: left;

    font-size: .24rem;
    line-height: .36rem;

    color: #888;
    background-repeat: no-repeat;
    background-position: left 0;
    background-size: contain;
}
.m_photoset_square .m_photoset_square_info .m_photoset_square_desc .m_photoset_square_desc_l .iconfont {
    display: inline-block;

    padding: 0 .1rem 0 0;

    font-size: .28rem;

    color: #a8a8a8;
}
.m_photoset_square .m_photoset_square_info .m_photoset_square_desc .m_photoset_square_desc_r {
    float: right;

    font-size: .24rem;
    line-height: .36rem;

    color: #888;
    background-repeat: no-repeat;
    background-position: left 0;
    background-size: contain;
}
.m_photoset_square .m_photoset_square_info .m_photoset_square_desc .m_photoset_square_desc_r .iconfont {
    display: inline-block;

    padding: 0 .1rem 0 0;

    font-size: .28rem;

    color: #a8a8a8;
}
.m_article_debate {
    margin: 0;

    background: #eee;
}
.m_article_debate .m_debate_title {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display:         flex;

    margin-bottom: .2rem;

    font-size: .34rem;

    color: #404040;
}
.m_article_debate .m_debate_contents {
    margin: .4rem 0 .2rem 0;
}
.m_article_debate .m_debate_contents div {
    float: left;
}
.m_article_debate .m_debate_contents .debate_btn {
    border: 1px solid #eee;
    border-radius: .5rem;
    padding: .25rem 0;
    width: 1.6rem;

    font-size: .28rem;
    text-align: center;

    background: #fff;
}
.m_article_debate .m_debate_contents .debate_positive {
    border: 1px solid #ff9292;

    color: #f33;
}
.m_article_debate .m_debate_contents .debate_positive:active {
    color: #fff;
    background: #ff9292;
}
.m_article_debate .m_debate_contents .debate_opposing {
    border: 1px solid #9dcdff;

    color: #4c9aea;
}
.m_article_debate .m_debate_contents .debate_opposing:active {
    color: #fff;
    background: #9dcdff;
}
.m_article_debate .m_debate_contents .debate_view {
    margin: 0 .2rem;
    width: 3.2rem;
}
.m_article_debate .m_debate_contents .debate_view .data_positive .data {
    margin: .05rem 0;
    width: 100%;

    text-align: center;

    color: #f33;
}
.m_article_debate .m_debate_contents .debate_view .data_positive .chart {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    width: 100%;
    height: .2rem;

    background: #f33;
}
.m_article_debate .m_debate_contents .debate_view .chart_wall {
    margin: 0 .05rem;
    height: .8rem;
}
.m_article_debate .m_debate_contents .debate_view .data_opposing .data {
    margin: .05rem 0;
    width: 100%;

    text-align: center;

    color: #4c9aea;
}
.m_article_debate .m_debate_contents .debate_view .data_opposing .chart {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    width: 100%;
    height: .2rem;

    background: #4c9aea;
}
.m_article_debate .m_debate_desc {
    height: .5rem;

    line-height: .5rem;
}
.m_article_debate .m_debate_desc .m_debate_channel {
    display: inline-block;

    box-sizing: border-box;
    border: 1px solid #f33;
    border-radius: 4px;
    padding: 0 .04rem;
    height: .24rem;

    font-size: .24rem;
    line-height: .24rem;
    line-height: .32rem;

    color: #f33;
}
.m_article_debate .m_debate_desc .m_debate_time {
    display: inline-block;

    margin-left: .1rem;

    font-size: .24rem;

    color: #888;
}
.m_article_debate .m_debate_desc .m_debate_desc_l {
    float: left;
}
.m_papa {
    margin: 0 .3rem;
    border-bottom: 1px solid #e5e5e5;
    padding: .2rem 0;

    font-size: .24rem;
}
.m_papa .m_papa_img {
    float: left;
    overflow: hidden;

    position: relative;

    margin-right: .2rem;
    width: 27%;
    height: 1.4rem;
}
.m_papa .m_papa_img img {
    display: block;

    width: 100%;
    height: 100%;
}
.m_papa .m_papa_desc .m_papa_promote {
    display: inline-block;

    padding: 2px 2px;
    height: 12px;

    font-size: 12px;
    line-height: 12px;

    color: #555;
    background: url(http://img2.cache.netease.com/f2e/wap/common/images/border_grey.png) no-repeat;
    background-size: 100% 100%;
}
.m_papa .m_papa_desc .m_papa_time {
    display: inline-block;

    margin-left: .2rem;

    font-size: .24rem;

    color: #888;
}
.m_papa .m_papa_desc .m_papa_desc_l {
    float: left;
}
.m_papa .m_papa_info {
    overflow: hidden;
}
.m_papa .m_papa_info .m_papa_title,
.m_papa .m_papa_info a {
    margin-bottom: .2rem;

    font-size: .34rem;
    line-height: .42rem;
    text-decoration: none;

    color: #404040;
}
.m_papa_m0 .m_papa_title {
    display: none;
}
.m_papa_m0 .m_papa_img {
    width: 100%;
    height: 1.2rem;
}
.m_papa_m1 .m_papa_title {
    margin-bottom: .2rem;

    font-size: .34rem;

    color: #404040;
}
.m_papa_m1 .m_papa_title .m_papa_promote {
    display: inline-block;
    float: right;

    border: 1px solid #555;
    border-radius: 3px;
    padding: 2px 2px;
    height: 12px;

    font-size: .24rem;
    line-height: 12px;

    color: #555;
}
.m_papa_m1 .m_papa_pic {
    display: block;

    margin: .22rem 0;
}
.m_papa_m1 .m_papa_pic .m_papa_pic_wrap {
    overflow: hidden;

    height: 1.66rem;
}
.m_papa_m1 .m_papa_pic .m_papa_pic_wrap img {
    float: left;

    margin-right: 2%;
    width: 32%;
    min-height: 1.4rem;
}
.m_papa_m1 .m_papa_pic .m_papa_pic_wrap img:last-child {
    margin-right: 0;
}
.m_papa_m2 {
    margin: 0;
    margin-top: -1px;
    border-top: 1px solid #e5e5e5;
    width: 100%;

    background: #eee;
}
.m_papa_m2 .m_papa_content {
    font-size: .34rem;

    color: #4c9aea;
}
.m_papa_m2 .m_papa_content a,
.m_papa_m2 .m_papa_content a:active,
.m_papa_m2 .m_papa_content a:visited,
.m_papa_m2 .m_papa_content a:focus {
    color: #4c9aea;
}
.m_papa_m2 .m_papa_promote {
    display: inline-block;
    float: right;

    border: 1px solid #555;
    border-radius: 3px;
    padding: 2px 2px;
    height: 12px;

    font-size: 12px;
    line-height: 12px;

    color: #555;
}
.m_papa_iframe .m_papa_iframe_wrap {
    overflow: hidden;

    width: 6.9rem;
    height: 1.4rem;
}
.m_papa_iframe iframe {
    width: 100%;
    height: 100%;
}
.m_papa_iframe_photoset .m_papa_iframe_wrap {
    overflow: hidden;

    width: 6.9rem;
    height: 2.44rem;
}
.m_papa_iframe_photoset iframe {
    width: 100%;
    height: 100%;
}
.m_article_simple {
    margin: 0 .3rem;
    border-bottom: 1px solid #e5e5e5;
    padding: .2rem 0;

    font-size: .24rem;
}
.m_article_simple .m_article_channel {
    float: left;

    margin-right: .1rem;
}
.m_article_simple .m_article_channel span {
    display: block;

    margin-top: .08rem;
    border-right: 1px solid #d2d2d2;
    padding-right: .1rem;
    height: .32rem;

    font-size: .24rem;
    line-height: .32rem;

    color: #999;
}
.m_article_simple .m_article_info {
    overflow: hidden;

    position: relative;
}
.m_article_simple .m_article_title {
    display: inline-block;
    float: left;

    margin-bottom: 0;
    width: 5rem;

    font-size: .34rem;
    line-height: .45rem;

    color: #404040;
}
.m_article_simple .m_article_title_long {
    display: inline-block;
    float: left;

    margin-bottom: 0;
    width: 5.5rem;

    font-size: .34rem;
    line-height: .42rem;

    color: #404040;
}
.m_article_simple .m_article_desc {
    position: absolute;
    right: 0;

    width: 1.15rem;
    height: 100%;
}
.m_article_simple .m_article_desc .m_article_desc_r {
    line-height: .42rem;
    white-space: nowrap;

    color: #888;
    background-repeat: no-repeat;
    background-position: left 0;
    background-size: contain;
}
.m_article_simple .m_article_desc .m_article_desc_r .iconfont {
    display: inline-block;

    padding: 0 .1rem 0 0;

    font-size: .28rem;

    color: #a8a8a8;
}
.no_special .special_section {
    display: none;
}
.m_bigimg .m_bigimg_title {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display:         flex;

    font-size: .34rem;

    color: #404040;
}
.m_bigimg .m_article_img {
    margin: .22rem 0;
    width: 100%;
    height: 2.3rem;
}
.m_bigimg .m_article_img .img_wrap {
    position: absolute;

    width: 100%;
    height: 100%;
}
.m_bigimg .m_article_img .play-btn-video {
    display: block;

    position: absolute;
    top: 50%;
    left: 50%;

    margin-top: -.35rem;
    margin-left: -.6rem;
    width: 1.2rem;
    height: .7rem;

    background: url(http://img2.cache.netease.com/f2e/wap/common_staging/images/icon_play.png) no-repeat;
    background-size: contain;
}
.m_split_line {
    border-top: 1px #e6e6e6 solid;
    border-bottom: 1px #e6e6e6 solid;
    width: 100%;
    height: .2rem;

    background-color: #eee;
}
.m_launch_special {
    margin: 0;
    width: 7.5rem;

    background: #eee;
}
.m_launch_special .m_launch_special_wrap {
    border-top: 1px #e6e6e6 solid;
    border-bottom: 1px #e6e6e6 solid;
    padding: .2rem .3rem;

    background: #f6f6f6;
}
.m_launch_special .m_launch_special_title {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display:         flex;

    font-size: .34rem;

    color: #404040;
}
.m_launch_special .m_article {
    margin: 0;
}
.m_launch_special .m_article:nth-child(4) {
    border-bottom: 0;
}
.m_launch_special .m_open_specail {
    width: 100%;
    height: .63rem;

    font-size: .24rem;
    line-height: .63rem;
    text-align: center;

    color: #4c9aea;
    background-color: #eee;
}
.tloader-btn {
    line-height: 1rem;
}
