.logo {
    display: flex;

    align-items: center;
}

.logo img {
    width: 48px;
    height: 48px;
}

.logo span {
    padding-left: 5px;

    font-size: 24px;
}

.footer {
    text-align: center;
}

.register {
    float: right !important;
}

.ant-menu-horizontal > .ant-menu-item > a,
.ant-menu-horizontal > .ant-menu-submenu > a {
    display: inline-block !important;
}

.container {
    padding-top: 10px;
}

.leftContainer {
    float: left;

    width: 400px;
}

.ant-card {
    margin-top: 5px !important;
}

.ant-card-head-title {
    text-align: left !important;
}
.ant-card-body {
    text-align: left !important;
}
.usercenter {
    float: right !important;
}

#container {
    text-align: center !important;
}

.container {
    margin-top: 5px;

    text-align: center;
}

.carousel {
    float: left;

    width: 400px;
}

.carousel img {
    width: 400px;
    height: 260px;
}

.topNewsList {
    float: left;

    margin-bottom: 10px;

    font-size: 14px;
    text-align: left;
}

.topNewsList a {
    line-height: 22px !important;

    color: #666 !important;
}

.tabs_news {
    float: left;

    padding-left: 10px;
    width: 460px;
}

.tabs_product {
    float: left;

    padding-left: 10px;
    width: 300px;
}

.tabs_news li {
    float: left;
    overflow: hidden;

    width: 417px;
    height: 27px;

    font-size: 14px;
    line-height: 27px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tabs_product li {
    overflow: hidden;

    width: 257px;
    height: 27px;

    font-size: 14px;
    line-height: 27px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.clearfix {
    margin-top: 20px;
}

.ant-tabs-bar {
    margin-bottom: 20px !important;
}

.ant-card-body {
    padding: 15px !important;
}

.leftContainer {
    float: left;

    width: 400px;
}

/*image block******START*****/
.imageblock {
    float: left;
}

.custom-card {
    padding: 5px;
}

.custom-card p {
    color: #999;
}

.register {
    float: right !important;
}

/*image block******END*****/

iframe {
    overflow-x: hidden !important;
    overflow-y: hidden !important;

    position: relative !important;
}

#content {
    font-size: 12px !important;
}

.ant-menu-horizontal > .ant-menu-item > a,
.ant-menu-horizontal > .ant-menu-submenu > a {
    display: inline-block !important;
}


/*Footer******Start*****/

.footer {
    padding-top: 20px;

    text-align: center;
}


/*Footer******End*****/
.title,
.article-title .title {
    font-size: .44rem !important;
    line-height: 1.4em;
}

.article-src-time {
    font-size: .3rem !important;
}

.article-content .txt {
    font-size: .36rem !important;
}

/**Article Content**/

.container {
    text-align: center;
}

.article {
    text-align: justify;
}


.article-content .img .img-wrap,
.hot-news img {
    background-repeat: no-repeat;
    background-position: center;
}

.hn-title h2,
.in-title h2 {
    z-index: 1;

    font-weight: 600;
}

#title {
    margin: 16px 16px 0!important;
    border-bottom: 1px solid #e5e5e5;
}

.article-title {
    margin-bottom: .2rem;
}

#title .title,
.article-title .title {
    font-size: 1.44rem;
    line-height: 1.4em;
}

.title {
    color: #000;
}

.article-src-time {
    padding-bottom: .2rem;

    font-size: 1rem;

    color: #999;
}

.article-content .section {
    margin-top: 0;
    margin-bottom: .3rem;

    line-height: 1.6em;
}

.article-content .txt {
    font-size: 1.36rem;
}

.article-content .img {
    margin-bottom: .3rem;
}

.article-content .img .img-wrap {
    display: block;
    overflow: hidden;

    position: relative;

    width: 150%;
    height: 0;

    background-size: 40%;
}

#content {
    margin: .3rem 16px 16px;
}

.article-content .img .img-wrap img {
    display: block;

    position: absolute;
    top: 0;
    left: 0;

    width: 60%;
}

.article-content .img .txt-wrap {
    font-size: .36rem;
    line-height: 2em;
}

.article-content .app-download {
    display: block;

    position: relative;

    border: 1px solid #e5e5e5;
    border-top: 0 none;
    width: 100%;
    height: .8rem;

    font-size: .34rem;
    line-height: .8rem;
    text-align: center;

    color: red;
}

.article-content .app-download img {
    position: absolute;
    top: 50%;
    left: .66rem;

    margin-top: -.21rem;
    margin-right: .15rem;
    width: .42rem;
    height: .42rem;
}
